.NyTimes {
  flex-grow: 1;
  margin-top: 20px;

  .MuiPaper-root {
    cursor: pointer;
    display: flex;
    min-width: 275px;
    min-height: 150px;
    flex-direction: column;
    // background-color: antiquewhite;
    background-color: #bbbbbb;
  }

  .MuiAvatar-root {
    z-index: 1;
    background-color: #4e6531;
  }

  .MuiCardHeader-title {
    font-size: 14px;
  }
  .MuiCardHeader-subheader {
    font-size: 14px;
  }
  .MuiCardActions-root {
    position: relative;
    margin-top: auto;
  }
  .MuiButton-textPrimary {
    right: 10px;
    bottom: 5px;
    position: absolute;
  }
  h2 {
    font-size: 13px;
  }

  .MuiList-root {
    width: 97.5%;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #f7d5d559;
    border-radius: 5px;
  }

  .MuiPagination-ul {
    justify-content: center;
    margin-top: 30px;
  }
}

.search {
  width: 400px;
  z-index: 100;
}

.loader {
  color: grey;
  margin-top: 100px;
  margin-left: 50%;
}
